# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.ipynb
*.DS_Store
.vscode/
.ipynb_checkpoints/
docker/*
*.pickle
results/
tmp/
*-checkpoint.py
wandb/
outputs/
models/
venv/
.venv*/
.env
.history/
baselines/MAPPO/config/mappo_homogenous_ff_hanabi.yaml