LR: 0.0005
NUM_ENVS: 1024
NUM_STEPS: 256
TOTAL_TIMESTEPS: 2e9
HIDDEN_DIM: 64
NUM_LAYERS: 2
NUM_HEADS: 8
FF_DIM: 128
UPDATE_EPOCHS: 4
NUM_MINIBATCHES: 4
GAMMA: 0.99
GAE_LAMBDA: 0.95
CLIP_EPS: 0.2
SCALE_CLIP_EPS: false
ENT_COEF: 0.01
VF_COEF: 0.5
MAX_GRAD_NORM: 0.5
ACTIVATION: relu
ANNEAL_LR: true

# Environment configuration
"ENV_NAME": "utracking"
"ENV_KWARGS": {
  "num_agents": 2,
  "num_landmarks": 1,
  "max_steps": 1024,
  "dt": 30,
  "difficulty": "hard",
  "rew_follow_coeff": 1.0,
  "rew_tracking_coeff": 1.0,
  "steps_for_new_range": 4,
  "max_range_dist": 1500.0,
  "min_init_distance": 30.0,
  "max_init_distance": 1000.0,
  "matrix_obs": true,
  "matrix_state": true,
}
 

# Experiment settings
SEED: 0
NUM_SEEDS: 1
TUNE: false
SAVE_PATH: models/utracking_mbari
LOAD_PATH: #models/utracking_mbari/utracking_2_vs_1/mappo_transformer_tracking_rew/mappo_transformer_tracking_rew_utracking_2_vs_1_seed0_vmap0.safetensors # models/utracking_post/utracking_5_vs_5/mappo_transformer_hard_128steps/mappo_transformer_hard_128steps_utracking_5_vs_5_seed2.safetensors
LOAD_CRITIC: # True
ALG_NAME: mappo_transformer_newobs_hard
CHECKPOINT_INTERVAL: 0.05 # perecentage of total update steps
ANIMATION_LOG_INTERVAL: 0.1  # percentage of total update steps
ANIMATION_MAX_STEPS: 128     # should match the env

# Weights & Biases logging
WANDB_MODE: online
ENTITY: mttga
PROJECT: utracking_mbari
WANDB_LOG_ALL_SEEDS: false